apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: hello-world-appset
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  generators:
    - list:
        elements:
          - env: dev
          - env: staging
          - env: prod

  template:
    metadata:
      name: "hello-world-{{env}}"
    spec:
      project: default
      source:
        repoURL: https://github.com/jinalbabariya/myapp-gitops
        targetRevision: main
        path: "environments/{{env}}"
        directory:
          recurse: true
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{env}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
